<div style='margin-top:-60px; background-color:#000'>
    <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0" width="{{clock_size}}" height="{{clock_size}}">                        
        <param name="movie" value="newest-clock.swf{{params}}">
        <param name="SCALE" value="exactfit">
        <param value="transparent" />
        <embed src="/static/newest-clock.swf{{params}}" wmode="transparent" width="{{clock_size}}" height="{{clock_size}}" pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" scale="exactfit"></embed>
    </object>
</div>
