<nav class="navbar navbar-full navbar-dark bg-inverse">
    <a class="navbar-brand" href="#">Date:</a>
    <form class="form-inline" method="post" action="/clock">
        <input class="form-control" type="text" name='date' value="{{form_date}}" placeholder="MM/DD/YYYY" />
        <button class="btn btn-outline-success" type="submit">Go</button>
    </form>
</nav>

<!--
<nav class="navbar navbar-inverse navbar-fixed-top">
<div class="container-fluid">
    <div class='row'>
        <div class='col-lg-3'>
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Phoenix Clock / Calendar</a>
            </div>
        </div>
        <div class='col-lg-3'>
            <form class="form-inline" method="post" action="/clock">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" name="date" placeholder="9/21/2000" />
                        <span class="input-group-btn">
                            <button class="btn btn-" type="submit">Go!</button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</nav>
-->
